.app-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-bar {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upload-button {
  width: 125px;
  height: 48px;
  font-size: 0.7em;
  color: #fff;
  background-color: #393c41;
  border: none;
  border-radius: 5px;
}

.ready-to-upload {
  background-color: #468fc9;
  cursor: pointer;
}

.upload-button-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload-button-icon {
  font-size: 1.5em;
}
