.navbar {
  width: 100%;
  height: 3em;
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #393c41;
}

.logo {
  height: 44px;
  width: auto;
}

.logout-button {
  margin-right: 1em;
  color: #dc3334;
  cursor: pointer;
  background-color: #fff;
  padding: 3px 3px 3px 5px;
  border-radius: 5px;
}
